<div class="head">
  <ul class="adminMenu">
    <li class="adminItem" onclick="window.location.href='dashboard'">
      <i class="fa-solid fa-gauge-high r-left"></i> Dashboard
    </li>
    <li class="adminItem subitems">
      <i class="fa-solid fa-file-lines r-left"></i> Posts
      <i class="fa-solid fa-caret-down smalltiny"></i>
      <ul class="submenu">
        <li>
          <a href="#"><i class="fa-solid fa-file-lines left"></i> All posts</a>
        </li>
        <li>
          <a href="newpost"
            ><i class="fa-solid fa-file-circle-plus left"></i> New post</a
          >
        </li>
      </ul>
    </li>
    <li class="adminItem subitems">
      <i class="fa-solid fa-display r-left"></i> Appearance
      <i class="fa-solid fa-caret-down smalltiny"></i>
      <ul class="submenu">
        <li>
          <a href="#"><i class="fa-brands fa-square-js left"></i> Themes</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-folder-plus left"></i> New theme</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-bars left"></i> Menu</a>
        </li>
      </ul>
    </li>

    <li class="adminItem subitems">
      <i class="fa-solid fa-folder-open r-left"></i> Plugins
      <i class="fa-solid fa-caret-down smalltiny"></i>
      <ul class="submenu">
        <li>
          <a href="#"><i class="fa-solid fa-folder left"></i>All Plugins</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-store left"></i> Plugins store</a>
        </li>
      </ul>
    </li>
    <li class="adminItem subitems">
      <i class="fa-solid fa-note-sticky r-left"></i> Pages
      <i class="fa-solid fa-caret-down smalltiny"></i>
      <ul class="submenu">
        <li>
          <a href="#"><i class="fa-solid fa-file left"></i> All Pages</a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-file-circle-plus left"></i> New page</a
          >
        </li>
      </ul>
    </li>
    <!---->
  </ul>
</div>
