<%- include("includes/header.ejs"); %>
<div class="logo_admin">WW</div>
<div class="frmlogin">
  <div class="input-icon">
    <i class="fas fa-user absolute"></i>
    <input type="text" class="ww-text user" placeholder="Username" />
  </div>
  <div class="input-icon">
    <i class="fa-solid fa-lock absolute"></i>
    <input type="password" class="ww-text pass" placeholder="Password" />
  </div>

  <button type="button" class="circularbtn loginbtn">
    <i class="fa-solid fa-right-to-bracket bigger"></i>
  </button>
</div>

<script src="/ww-admin/assets/js/main.js"></script>
<script
  src="https://kit.fontawesome.com/675f049390.js"
  crossorigin="anonymous"
></script>
<%- include("includes/footer.ejs"); %>
