<%- include("includes/header.ejs"); %>
    <script
      src="https://kit.fontawesome.com/675f049390.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<%- include("includes/footer.ejs"); %>